body {
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
	background-image: no-repeat center}


header {color: white; 
	text-align: center;
	padding: 0px 5% 0px 5%;
	margin-top: 0px}

.whitelink {color: #F7C327;
    text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

nav { margin: 0px auto; }

nav ul { list-style-type: none; padding-left: 0px !important }

nav ul li { display: inline-block; 
	/*background-color: white;*/

	padding: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-transform: uppercase;}

p {text-align: center;
	margin: 50px auto;
	font-family: 'Quicksand', sans-serif; }

#homeicon {	text-align: center; 
	max-width: 150px;
}

#homeimage {max-width: 30%; 
    margin: 7px 35.1% 150px;
    height: auto;
	margin-bottom: 30px;
	text-align: center;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3))}

.active {color: #FFC929;
	background-color: white;
	font-family: 'Quicksand', sans-serif;}

.morepadding { padding: 1em 20%; }

.text-muted {--bs-text-opacity: 1;
    color: #6c757d !important;}

.title {margin-top: 50px;
	text-align: center;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.card-img-top {text-align: center !important;
	max-width: 450px}

.card-title {text-align: center;
	margin-top: 15px;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.card-text {text-align: justify;
	font-family: 'Quicksand', sans-serif;}

.box-text {text-align: justify;
	font-family: 'Quicksand', sans-serif;}

.box-title {margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #F7C327}

.img-responsive {margin-left: 20;
	margin-right: 50px;
	max-height: 190px;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5))}

#group{margin-right: 30px;
	margin-top: 7px;
	max-height: 400px;
	max-width: 600px;
	margin-bottom: 50px;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5))} 

.news-title {margin-top: 20px;
	margin-left: 0px;
	text-align: center;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.news-box {margin-top: 20px;
	margin-left: 29px;
	text-align: left;
	margin-bottom: 376px;
	font-family: 'Quicksand', sans-serif;}

.gallery {text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.gallery.title {text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #F7C327;
	font-family: 'Quicksand', sans-serif}

.gallery.title3 {text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #F7C327;
	font-family: 'Quicksand', sans-serif}

.rounded.float-start {max-width: 300px;
	margin-left: 100px}
.rounded.float-center {max-width: 300px;}
.rounded.float-end {max-width: 300px;}

.headerSlider {align-content: center}

.title {text-align: center;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.title2 {text-align: left;
	margin-left: 200px;
	margin-top: 20px;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.contact2 {text-align: left;
	margin-left: 200px;
	margin-bottom: 349px;
	margin-top: 10px;
	font-family: 'Quicksand', sans-serif;}

.contact {text-align: left;
	margin-left: 200px;
	margin-top: 10px;
	font-family: 'Quicksand', sans-serif;}

.documentazione {text-align: left;
	margin-left: 100px;
	margin-top: 15px;
	color: #008586;
	font-family: 'Quicksand', sans-serif;}

.text { text-align: left;
	margin-left: 100px;
	margin-top: 15px;
	font-family: 'Quicksand', sans-serif;}

.shop.sub {text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	color: black;
	font-family: 'Quicksand', sans-serif}

.doc {margin-left: 100px;
	margin-top: 15px;
	margin-bottom: 4px;
	max-width: 600px; }
